									/*---------------*/
									/*Global Css*/
									/*---------------*/
.top-auto{
	top: auto;
}
.bg-transparent-white{
	background-color: #8c8c8c6e;
}
.bg-transparent-dark{
	background-color: #00000096;
}