									/*-----------------*/
									/*Custom Css*/
									/*----------------*/

section{
	padding-top: 100px;
	padding-bottom: 75px;
}
/*----------Nav menu  part-----------*/
#main-nav ul>li>a.active{
	background-color: black;
}
/*----------Home part-----------*/
#home{
	background-image: url('../images/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat
}
/*----------Service part-----------*/
#service{
	background-image: url('../images/service.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat
}
/*----------Project part-----------*/
#projects img{
	height: 250px;
}
.card-hover-visible{
	visibility: hidden;
	opacity: 0;
	transition: 1s;
}
.card:hover .card-hover-visible{
	visibility: visible;
	opacity: 1;
}
/*----------Review part-----------*/
#review{
	background-image: url('../images/review.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
/*----------Contact part-----------*/
#contact{
	background-image: url('../images/contact.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.contact-input::placeholder{
	color: #fff!important;
}
/*----------Footer-----------*/
#social ul>li>a{
	width: 2.5rem;
	height: 2.4rem;
}
#social ul>li{
	margin-right: 12px;
}
#upper{
	width: 30px;
	height: 30px;
	font-size: 20px;
	bottom: 20px;
	right: 20px;
	background: #808080a6;
}
/*----------Media query-----------*/
@media( max-width:768px){
	.h5-sm{
		font-size: 1.25rem;
	}
	.h8-sm{
		font-size: 1rem;
	}
}
@media( max-width:576px){
	#home img{
		width: 100%;
		height: 100%;
	}
}
